@use '../../styles/partials/colours' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/variables' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add shadow to the header
  border-bottom: 1px solid #ddd; // Light gray line

  &__logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--image {
      width: 10rem;
      height: auto;
      margin-bottom: 0.5rem;
    }

    &--text {
      font-size: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    color: white;

    a {
      margin: 0 1rem;
      text-decoration: none;
      color: $eno-black;
      position: relative;
      padding-bottom: 0.5rem;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $eno-red;
        transition: width 0.3s ease;
      }

      &.active:after {
        width: 100%;
      }

      &:hover {
        color: $eno-red; // Keep other links black on hover
      }
    }

    .get-started-btn {
      background-color: $eno-red;
      border: none;
      border-radius: 5px;
      color: white;
      padding: 0.5rem 1rem;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;

      &:hover {
        background-color: darken($eno-red, 10%);
        color: white; // Change the button text to white on hover
      }
    }

    &--signin {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  @include tablet {
    .header__nav {
      justify-content: flex-end; // Align items to the right on tablet
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .header__nav {
      justify-content: flex-end; // Align items to the right on mobile

      a:not(.get-started-btn):not(.header__nav--signin) {
        display: none; // Hide Home and Contact Us links on mobile
      }

      .get-started-btn {
        margin-left: auto; // Push the button to the right
      }

      &--signin {
        width: 20px; // Make the sign-in icon smaller on mobile
        height: 20px; // Maintain aspect ratio
        display: block; // Ensure the icon is displayed
      }
    }
  }
}
