@use '../../styles/partials/colours' as *; 
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;

.basic-single-select {
  min-width: 18.75rem;
  margin: 0.625rem 0;
}

.select__placeholder {
  color: $eno-red !important;
}
