@use '../../styles/partials/colours' as *;

.input-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;

  .input-detail {
    display: flex;
    align-items: center;

    .input-icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
    }

    span {
      font-size: 1.2rem;
      color: $eno-black;
    }
  }
}
