//Primary colours

$eno-red: #BE0157ff;
$eno-wine: #721E49;
$eno-light-red: #D0B1BF;
$eno-white: #F8F7F7ff;
$eno-black: #181717d7;
$eno-yellow: #F0D66C;




$englishviolet: #664B67ff;
$rosetaupe: #946663ff;
$enoliver: #6E544Eff;
$dimgray: #736E70ff;
$timberwolf: #D3D7D3ff;
$cardinal: #C8003Fff;
$battleship-gray: #888B88ff;
$seasalt: #F8F7F7ff;
$bistre: #35291Fff;



